section{
     .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2rem 1rem;
        
        .card{
            width: 15rem;
          
            background-color: rgb(24, 24, 24);
            padding: 0.75rem;
            color: white;

            img{
                
                width: 100%;
            }
            .project-info{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h3{
                    font-size: 1.1rem;
                }
                p{
                    font-size: 0.8rem;
                    color: rgb(90, 90, 90);
                    font-weight: 600;

                }
                .tags{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.4rem;
                    
                     .tag{
                        background-color: rgb(52, 52, 75);
                        padding: 0.2rem 0.5rem;
                        border-radius: 0.3rem;
                     }
                }
                .links{
                    display: flex;
                    justify-content: space-between;
                    a{
                        text-decoration: none;
                        color: white;
                        background-color: rgb(93, 93, 93);
                        padding:0.3rem 0.6rem ;
                        border-radius: 0.3rem;
                    }
                }
            }

        }
     }
}