nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(67, 67, 67);

    .left-nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .right-nav{
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }

}