footer{
    position: absolute;
    bottom: 1rem ;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(76, 76, 76);
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.5rem;

      .icon{
        aspect-ratio: 1/1;   
       border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
       width: 3rem;
       transition: all 0.3s linear ;
      }

      .github, .cli{
        background-color: black;
      }
      .note{
        background: linear-gradient(to bottom, rgb(255, 192, 74), rgb(255, 187, 60));
      }
      .pdf{
        background: linear-gradient(to bottom , rgb(255, 82, 82) , rgb(255, 54, 54));
      }
      .spotify{
        background: linear-gradient(to bottom , rgb(0, 12, 0) ,rgb(4, 114, 4));
      }
      .calender, .mail{
        background-color: crimson;

      }
      .link{
        background-color: rgb(25, 89, 89);
      }


      //hovering effects

      .icon:hover{
        transform: scale(1.4) translateY(-20%);
         margin-inline: 0.8rem;    
      }
      .icon:hover + .icon{
        transform: scale(1.2)translateY(-10%);
        
      }
      .icon:has(+ .icon:hover){
          transform: scale(1.2)translateY(-10%);
          
      }
      .icon:has(+.icon +.icon:hover){
        transform: scale(1.1)translateY(-7%);
      }
      

}

