*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body,#root{
    height: 100%;
    width: 100%;

}
main{
   width:100%;
   height: 100%;
   background: url("https://i.pinimg.com/736x/95/e9/98/95e99813cc9e98d884d289792f5cd089.jpg");
background-size: contain;
}