.window {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: scroll;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
      display: none;
    }
  
  .top-nav {
    width: 100%;
   border-bottom: 1px   solid gray;
    padding: 0.2rem 0.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .window-nav-icons {
      display: flex;
      gap: 0.4rem;

      .icon {
        padding: 0.5rem;
        background-color: blue;
        border-radius: 50%;
      }

      .red {
        background-color: rgb(255, 64, 64);
      }
      .yellow {
        background-color: rgb(255, 221, 77);
      }

      .green {
        background-color: rgb(102, 255, 102);
      }
    }

    .window-info{
      display: flex;
      gap: 0.2rem;
      font-weight: 600;
      align-items: center;
      .ri-folder-fill{
         color: rgb(116, 116, 255);
      }
      span{
         color: white;
         font-size: 0.8rem;
      }
    }

  }
}
